.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.cart-container {
    background: rgba(255, 153, 0, 0.3);
    /* position: fixed;
    right: 0;
    height: 100%; */
}
.pagination button{
    margin-right: 10px;
    background-color: white;
    border: 2px solid rgb(220, 178, 99);
}
.pagination .selected{
    background-color: rgb(220, 178, 99);
    color: white;
}

@media screen and (max-width:1200px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width:850px) {
    .products-container {
        grid-template-columns: 1fr;

    }
}